<ion-content padding id="page2" style="background-color:#4480E9;">
    <h3 id="smallExpenseTracker-heading3" style="color:#67E79A;text-align:center;">
        Small Expense tracker
    </h3>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000; margin: 0; margin-bottom: 3px; padding: 0;">
            Today's expense &nbsp;
            <strong style="color: red; font-size: 20px;">
                {{model.todaysTotalExpense}}
            </strong> rupees so far.
        </p>
        <p>Expense date <label style="font-weight:bold" (click)="displayDatePicker()">{{model.date}}</label>&nbsp;( to change date tap on date )</p>
    </div>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000; margin: 0; margin-bottom: 3px; padding: 0;">
            <strong>
                Tap to select type of expense
            </strong>
        </p>
    </div>
    <ion-item style="margin: 1.12%;" (click)="tagClicked($event)" (press)="changeTagTitle(tag.name)" *ngFor="let tag of tagData"
        class="activity" color="positive" data-item="tag">
        {{tag.name}}
        <ion-icon name="{{tag.icon}}" item-right></ion-icon>
    </ion-item>

    <ion-item id="home-input1" class="homeInputStyle">
        <ion-input type="text" onclick="return false;" [(ngModel)]="model.amount" readonly="true" placeholder="Tap number to enter amount"></ion-input>
    </ion-item>
    <button *ngFor="let number of numberData" (click)="numberClicked($event)" class="btn_number" ion-button color="positive"
        data-item="number" block>
        {{number.label}}
    </button>

    <ion-item id="home-textarea1">
        <ion-textarea [(ngModel)]="model.description" placeholder="Enter description if you want"></ion-textarea>
    </ion-item>
    <button (click)="submitInput()" ion-button color="positive" block>
        Tap me to submit
    </button>
    <button (click)="resetInputs()" ion-button color="assertive" block>
        Tap me to reset
    </button>
    <p>Following table will show today's expenses</p>
    <table *ngIf="model.todaysExpenses.length > 0" class="table_expenses">
        <tr>
            <td>
                <b>Expense for</b>
            </td>
            <td>
                <b>Amount</b>
            </td>
            <td>
                <b>Description</b>
            </td>
        </tr>
        <tr *ngFor="let expense of model.todaysExpenses">
            <td>
               {{expense.reason}} 
            </td>
            <td>
                {{expense.amount}}
            </td>
            <td>
                {{expense.description}}
            </td>
        </tr>
    </table>
    <label *ngIf="model.todaysExpenses.length === 0"><b>No data to display till now</b></label>
</ion-content>